---
---
{% include header.html %}

	<div id="section1">
			<img id="headshot" src="img/headshot.jpg" alt="Benjamin R. Jack" class="headshot" />
	</div>
	<div id="section2">
			<p>My name is Ben and I use computers to solve problems in biology. I am a fourth-year graduate student in the laboratory of <a href="http://wilkelab.org">Claus Wilke</a> at the <a href="https://www.icmb.utexas.edu/cmb">University of Texas at Austin</a>. Before coming to UT, I earned my BS in Biochemistry from the University of Miami and then worked for two years at the American Red Cross in an HLA/Molecular Genetics laboratory.</p>
			<h3>Recent Posts</h3>
			<ul class="bloglist">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
			<h3>Contact</h3>
			{% include contact.html %}
	</div>

{% include footer.html %}
